.bg-image{
  background-image: url('../assets/images/bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  min-height: 100vh;
}

.img-size {
  width: 200px;
}

.bg-rgba {
  background-color: rgba(63, 63, 63, 0.603)
}