.bg-image{
  background-image: url('../assets/images/bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  min-height: 100vh;
};

.img-size {
  width: 200px;
  height: 200px;
}

.m-0{
  margin: 0;
}

.bg-rgba {
  background-color: rgba(63, 63, 63, 0.603)
}

.m-t{
  margin: 10vh 0;
}

.flex-box {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}




